*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #222222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color: #ffffff;
}

a{
    text-decoration:none;
    color: #ffffff;
}

.container{
    width: 1200px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}

nav{
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    padding: 10px;
    float: left;
    background-color: #555555;
}

section{
    width: 870px;

    background-color: #ffffff;
    color: #333333;
    margin-left: 10px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

fieldset{
    width: 700px;
    border: 3px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
}

ul.menu{
    list-style-type: none;
}

ul.menu li{
    width: 250px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: #777777;
    margin-top: 5px;
    cursor: pointer;
}

ul.menu li:hover{
    background-color: #888888;
}

.btn {
    width: 120px;
    height: 40px;
    border: 1px solid #ddd;
}

.pesquisar{
    background-image: url(../_img/_btn/icone_pesquisar.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 20px;
    background-color: #1b1b1b;
    color: #ffffff;
    cursor: pointer;
}

.campos{
    width: 200px;
    height: 30px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-top: 10px;
}

textarea{
    width: 200px;
    height: 50px;  
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-top: 5px;
}

article{
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px;
    background-color: #494848;
    color: #ffffff;
    margin-bottom: 5px;
}